USE [master]
GO

if exists(select*from sys.databases where name=N'Datarail')
	begin 
		alter database Datarail set single_user with rollback immediate;
		
		drop database Datarail;
	end
go

CREATE DATABASE [Datarail]
Go

USE [Datarail]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[lno] [int] IDENTITY(1,1) NOT NULL,
	[lname] [nvarchar](10) NULL,
	[lx] [int] NULL,
	[ly] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation]    Script Date: 2025-04-01 오후 5:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation](
	[rno] [int] IDENTITY(1,1) NOT NULL,
	[uno] [int] NULL,
	[sno] [int] NULL,
	[carno] [int] NULL,
	[seat] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[rno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedule]    Script Date: 2025-04-01 오후 5:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[starting] [int] NULL,
	[destination] [int] NULL,
	[time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2025-04-01 오후 5:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[uno] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](10) NULL,
	[pw] [nvarchar](20) NULL,
	[name] [nvarchar](10) NULL,
	[birth] [date] NULL,
	[phone] [nvarchar](15) NULL,
	[email] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[uno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([lno], [lname], [lx], [ly]) VALUES (1, N'강원', 230, 87)
INSERT [dbo].[location] ([lno], [lname], [lx], [ly]) VALUES (2, N'경기', 145, 139)
INSERT [dbo].[location] ([lno], [lname], [lx], [ly]) VALUES (3, N'경남', 228, 346)
SET IDENTITY_INSERT [dbo].[location] OFF
GO
SET IDENTITY_INSERT [dbo].[reservation] ON 

INSERT [dbo].[reservation] ([rno], [uno], [sno], [carno], [seat]) VALUES (1, 89, 1, 2, N'B01')
INSERT [dbo].[reservation] ([rno], [uno], [sno], [carno], [seat]) VALUES (2, 38, 1332, 3, N'A05')
INSERT [dbo].[reservation] ([rno], [uno], [sno], [carno], [seat]) VALUES (3, 15, 3289, 1, N'B01')
GO
SET IDENTITY_INSERT [dbo].[reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[schedule] ON 

INSERT [dbo].[schedule] ([sno], [date], [starting], [destination], [time]) VALUES (1, CAST(N'2025-04-01' AS Date), 8, 3, CAST(N'14:09:00' AS Time))
INSERT [dbo].[schedule] ([sno], [date], [starting], [destination], [time]) VALUES (2, CAST(N'2025-03-01' AS Date), 2, 15, CAST(N'11:02:00' AS Time))
INSERT [dbo].[schedule] ([sno], [date], [starting], [destination], [time]) VALUES (3, CAST(N'2025-03-01' AS Date), 6, 1, CAST(N'15:50:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([uno], [id], [pw], [name], [birth], [phone], [email]) VALUES (1, N'user01', N'user01!', N'강나희', CAST(N'2010-07-17' AS Date), N'081-5678-2124', N'yoon11@gmail.com')
INSERT [dbo].[user] ([uno], [id], [pw], [name], [birth], [phone], [email]) VALUES (2, N'user02', N'user02!', N'강수연', CAST(N'1986-08-05' AS Date), N'081-5876-1234', N'mimi12@naver.com')
INSERT [dbo].[user] ([uno], [id], [pw], [name], [birth], [phone], [email]) VALUES (3, N'user03', N'user03!', N'강유아', CAST(N'2015-09-27' AS Date), N'081-9494-8787', N'vigung@empal.com')
GO
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[schedule]  WITH CHECK ADD  CONSTRAINT [FK_schedule_location] FOREIGN KEY([starting])
REFERENCES [dbo].[location] ([lno])
GO
ALTER TABLE [dbo].[schedule] CHECK CONSTRAINT [FK_schedule_location]
GO

ALTER TABLE [dbo].[schedule]  WITH CHECK ADD  CONSTRAINT [FK_schedule_location] FOREIGN KEY([destination])
REFERENCES [dbo].[location] ([lno])
GO
ALTER TABLE [dbo].[schedule] CHECK CONSTRAINT [FK_schedule_location]
GO
